body{
    background-color: #cccccc;
}

.img-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 95vh;
}

img {
    max-width: 100%;
    height: auto;
    margin: 25px
}